<%= image_tag "logo_color.png" %>

<h1>Login</h1>

<p id="notice">
	<% flash.each do |name, msg| %>
	  <div data-alert class="alert-box warning round">
	    <a href="#" class="close">&times;</a>
	    <%= msg %>
	  </div>
	<% end %>
</p>

<%= form_tag sessions_path do %>

	<div class="control-group">
    <%= label_tag :phone_number %>
    <div class="controls">
      <%= text_field_tag :phone_number, params[:phone_number] %>
    </div>
  </div>

	<div class="control-group">
    <%= label_tag :password %>
    <div class="controls">
      <%= password_field_tag :password %>
    </div>
  </div>

  <div class="actions">
		<%= submit_tag "Log In", class: 'button round success' %>
		<%= link_to 'Sign Up', signup_path, class: 'button round' %>
	</div>
	
<% end %>