<%= simple_nested_form_for @grocery_list, :html => { :class => 'form-horizontal' } do |list_form| %>
  <div class="row">
    <div class="span7">
      <fieldset>
        <legend><%= controller.action_name.capitalize %> Grocery List</legend>
	  		<%= list_form.input :name %>
	  		<%= list_form.hidden_field :user_id, value: current_user.id %>
      </fieldset>
    </div>

  <div class="span5">
    <legend>Grocery List Items</legend>
      <div id="list_items">
        <%= list_form.simple_fields_for :items do |item_form| %>
					<div class="fields">
					  <%= item_form.link_to_remove("x") %>
						<%= item_form.input :name %>
						<%= item_form.input :amount %>
					</div>
        <% end %>
        <p>
          <br />
					<%= list_form.link_to_add("Add Item", :items, class: 'button round tiny') %>
        </p>
      </div> 
    </div>
  </div>
  <div class="form-actions">
    <%= list_form.submit nil, :class => 'button round' %>
    <%= link_to 'Back', :back, class: 'button round secondary' %>
  </div>
<% end %>
