<% if @user == current_user %>
	<h1>My Profile</h1>
<% else %>
	<h1><%= @user.proper_name %></h1>
<% end %>

<br />

<table>
  <tr>
		<td>Name</td>
    <td><%= @user.proper_name %></td>
	</tr>
	<tr>
		<td>Phone Number</td>
    <td><%= number_to_phone @user.phone_number %></td>
	</tr>
	<tr>
		<td>Location</td>
    <td><%= @user.location %></td>
  </tr>
</table>

<br />

<% if @user == current_user %>
	<%= link_to 'Edit Profile', edit_user_path(@user), class: 'button round' %>
<% end %>
<%= link_to 'Home', home_path, class: 'button round secondary' %>
