<h1>My Profile</h1>

<table>
  <tr>
		<td>Name</td>
    <td><%= @user.proper_name %></td>
	</tr>
	<tr>
		<td>Phone Number</td>
    <td><%= number_to_phone @user.phone_number %></td>
	</tr>
	<tr>
		<td>Location</td>
    <td><%= @user.location %></td>
  </tr>
</table>

<%= link_to 'Edit Profile', edit_user_path(@user), class: 'button round' %>
<%= link_to 'Home', home_path, class: 'button round secondary' %>
