<div class="row">
  <div class="small-12 columns" id="welcome">
		<%= image_tag "logo_bw.png" %><br /><br />
		
		<%= link_to 'My Profile', user_path(@user), class: 'button round' %><br />
		<%= link_to 'My Lists', grocery_lists_path, class: 'button round' %><br />
		<%= link_to 'My Orders', my_orders_path, class: 'button round' %><br />
		<%= link_to 'Find Orders', orders_path, class: 'button round' %><br />
		<%= link_to 'Shopping', shopping_path, class: 'button round' %><br />
		<%= link_to 'Logout', logout_path, class: 'button round' %><br />
		
  </div>
</div>
