<div class="row">
  <div class="small-12 columns" id="welcome">
		<h1>Welcome to Potato!</h1>
		
		<%= image_tag "logo_bw.png" %>
		
		<%= link_to 'My Profile', user_path(@user), class: 'button round' %>
		<%= link_to 'My Lists', grocery_lists_path, class: 'button round' %>
		<%= link_to 'My Orders', my_orders_path, class: 'button round' %>
		<%= link_to 'Find Orders', orders_path, class: 'button round' %>
		<%= link_to 'Shopping', nil, class: 'button round' %>
		<%= link_to 'Logout', logout_path, class: 'button round' %>
		
  </div>
</div>
