<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	
  <div class="field">
    <%= f.label :grocery_list_id %><br>
    <%= f.select :grocery_list_id, GroceryList.for_user(current_user).map { |g| [g.name, g.id] }, prompt: 'Choose...' %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.label :tip %><br>
    <%= f.number_field :tip %>
  </div>
  <div class="field">
    <%= f.label :store %><br>
    <%= f.text_field :store %>
  </div>
  <div class="field">
    <%= f.label :delivery_time %><br>
    <%= f.select :delivery_time, Order.times, prompt: 'Choose...' %>
  </div>
  
  <div class="actions">
    <%= f.submit nil, class: 'button round' %>
		<%= link_to 'Back', :back, class: 'button round secondary' %>
  </div>
<% end %>
