
<h1>Order Details</h1>

<table>
  <tr>
		<td>Placed On</td>
    <td><%= @order.created_at %></td>
	</tr>
	<tr>
		<td>Tip</td>
    <td><%= number_to_currency @order.tip %></td>
	</tr>
	<tr>
		<td>Delivery Time</td>
    <td><%= @order.delivery_time %></td>
  </tr>
	<tr>
		<td>Notes</td>
    <td><%= @order.notes %></td>
  </tr>
	<tr>
		<td>Store</td>
    <td><%= @order.store %></td>
  </tr>
	<tr>
		<td>Buyer</td>
    <td><%= link_to User.find(@order.buyer_id).proper_name, user_path(@order.buyer_id) %></td>
  </tr>
	<tr>
		<td>Shopper</td>
		<% if @order.shopper_id.nil? %>
			<td>None</td>
		<% else %>
    	<td><%= link_to User.find(@order.shopper_id).proper_name, user_path(@order.shopper_id) %></td>
		<% end %>
	</tr>
</table>

<h3>Items</h3>

<table>
	<% @items.each do |item| %>
		<tr>
			<td><%= item.amount %></td>
			<td><%= item.name %></td>
		</tr>
	<% end %>
</table>
