<p id="notice"><%= notice %></p>

<h1>Order Details</h1>

<table>
  <tr>
		<td>Placed On</td>
    <td><%= @order.created_at.strftime('%A %-I:%M %P') %></td>
	</tr>
	<tr>
		<td>Tip</td>
    <td><%= number_to_currency @order.tip %></td>
	</tr>
	<tr>
		<td>Delivery Time</td>
    <td><%= @order.delivery_time.strftime('%A %-I:%M %P') %></td>
  </tr>
	<tr>
		<td>Notes</td>
    <td><%= @order.notes %></td>
  </tr>
	<tr>
		<td>Store</td>
    <td><%= @order.store %></td>
  </tr>
	<tr>
		<td>Buyer</td>
    <td><%= link_to User.find(@order.buyer_id).proper_name, user_path(@order.buyer_id) %></td>
  </tr>
	<tr>
		<td>Shopper</td>
		<% if @order.shopper_id.nil? %>
			<td>None</td>
		<% else %>
    	<td><%= link_to User.find(@order.shopper_id).proper_name, user_path(@order.shopper_id) %></td>
		<% end %>
	</tr>
</table>

<h3>Items</h3>

<table>
	<% @items.each do |item| %>
		<tr>
			<td><%= item.amount %></td>
			<td><%= item.name %></td>
		</tr>
	<% end %>
</table>

<% if @order.buyer_id == current_user.id %>
	<%= link_to 'Edit Order', edit_order_path(@order), class: 'button round' %>
<% elsif @order.shopper_id == current_user.id %>
	<%# link_to 'Reject Order', reject_order_path(@order), class: 'button round' %>
<% elsif @order.shopper_id == nil %>
	<%= link_to 'Accept Order', accept_order_path(@order), class: 'button round' %>
<% end %>
